.small-center {
    padding: 25px 0 0 25px;
    position: relative;
    width: 25px;
    height: 25px;
}

.small-ball {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #c9f364;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: animate-small 1.5s linear infinite;
}

.small-ball:before,
.small-ball:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    filter: blur(1px);
}

.small-ball:before {
    left: -65%;
}

.small-ball:after {
    right: -65%;
}

@keyframes animate-small {
    0% {
        transform: translate(-50%, -50%) translateY(-20px) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) translateY(0px) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) translateY(-20px) rotate(360deg);
    }
}

.small-shadow {
    position: absolute;
    width: 50px;
    height: 15px;
    transform: translate(-50%, 100%);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: -1;
    filter: blur(1px);
    animation: shadow-small 1.5s linear infinite;
}

@keyframes shadow-small {
    0% {
        transform: translate(-50%, 100%) scale(1);
    }
    50% {
        transform: translate(-50%, 100%) scale(0.5);
    }
    100% {
        transform: translate(-50%, 100%) scale(1);
    }
}
