html {
    background-image: url('../images/background3.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#ffffff;
    
}
.fade-overlay {
    position:absolute;
    top: 1190px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,#ffffff 75%);
    pointer-events: none;
}

body { 
    font-family: "Outfit", sans-serif;
    margin: 0 auto;
}
.main_container {
    max-width: 100%; 
}
.container div {
    position: relative;
    padding: 20px;
    background-color: #ffffffc3;
    border: 1px solid #ccc;
    height: 1500px;
    margin: 300px 50px;
    border-width:2px;
    border-style:solid;
    border-color:rgba(89, 89, 89, 0.218);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
.container > div.api_div img {
    width: 100%;
}
.navbar-container {
    display:flex;
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
}
ul .navbar {
    list-style-type: none;
    background-color: #ffffff;
}

li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-inline: 10px;
    text-decoration: none;
    font-size: x-large;

}
li.navbar a:hover{
    color: #06ae03;
    transition: 0.5s;
}
li img {
    width: 25px;
}
li.navbar.right {
    float: right;
    
}
.footer_container {
    bottom: 100%;
    background-color: #ffffff;
    position: sticky;
    height: 80px;
    text-align: center;
    font-size: smaller;
    padding-top: 50px;
}

p.div {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
div.post{
    height: 200px;
    margin: 25px;
    padding: 20px;
}