html {
    background-color:white;
    background-image: url('./images/bg.png');
    background-repeat: inherit;
    background-size: cover;
}
body { 
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
}
/* main {

} */
.main_container {
    background-color: #221f1f;
    width: 70vw;
    margin: 150px;
    position: absolute;
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius: 5px;
    color: white;
    font-size:x-large;
    box-shadow: #111;
    grid-column: span 3;
}
.container > div {
    padding: 20px;
    background-color: #221f1f;
    border: 1px solid #ccc;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.navbar-container {
    background-color: #333;
    position: fixed;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 80px;
}
/* .navbar {
    height: 80px;
} */

ul .navbar {
    list-style-type: none;
    background-color: #333;
}

li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover:not(.active) {
    background-color: #06ae03;
}

li img {
    width: 150px;
}
li.navbar.about {
    background-color: #06ae03;
    float: right;
    margin-right: 50px;
}